{% extends "network/layout.html" %}

{% block body %}
    <script src="/static/network/index.js"></script>
    <script src="/static/network/followstuff.js"></script>
    <div class="bodyblock">
        <p hidden id="user_id">{{ userp.id }}</p>
        <h1 style="text-align: center;">{{ userp.username }}</h1>
        <table>
            <tr>
                <td id="num_followers">{{ followers }}<br>Followers</td>
                <td id="num_followings">{{ following }}<br>Following</td>
                <td>{% if being_followed %}
                        <button class="unfollow-btn" id="follow-btn">Unfollow</button>
                    {% elif request.user == userp %}
                        <button id="follow-btn" disabled class="nofollow-btn">You cannot follow yourself!</button>
                    {% else %}
                        <button id="follow-btn" class="follow-btn">Follow</button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% for post in posts %}
        <div class="post-card">
            {% if request.user == post.1 %} 
                <a class="edit_btn" id="edit-{{ post.0 }}" href="#">Edit</a>
            {% endif %}
            <h1>{{ post.2 }}</h2>
            <p id="content-{{ post.0 }}">{{ post.3 }}</p>
            <p style="font-style: italic; color: #aaa; font-size: 18px;">Posted on {{ post.4 }} UTC by <a href="/user/{{ user.id }}">{{ post.1 }}</a></p>
            <p style="font-size: 18px;" id="num-likes-{{ post.0 }}">{{ post.5 }} likes</p>
            {% if post.6 %} 
                <button class="like-btn" id="like-{{ post.0 }}" style="color: red">♥ Liked</button>
            {% else %}
                <button class="like-btn" id="like-{{ post.0 }}" style="color: white">♥ Like</button>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <nav aria-label="Paginator">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" >Previous</a>
                </li>
            {% endif %} 

            {% for num in num_pages %} 
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}

            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
            {% endif %} 
            <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">&raquo; Last</a></li>
        </ul>
    </nav>
{% endblock %}